


body{

    background: linear-gradient(160deg, #8CBED7, #93C5CF, #99CBC6, #A0D2BE, #A6D8B5, #ADDFAD);
   
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
    
}
.screen{

    background-color: rgb(237, 251, 255);
    color:rgba(14, 115, 100, 0.819);
    font-size: 2em;
    padding: 15px;
    text-align: right;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    overflow-x: auto;
    width: 100%;        /* stay inside calculator */
    box-sizing: border-box; 
}


.wrapper{
    background-color:rgba(109, 190, 178, 0.15);    
    box-shadow: 0 0 20px 8px rgba(0, 255, 255, 0.5);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    width: 300px;

}
.calc-button-double{
    background-color:rgb(109, 190, 178);
    color:rgba(14, 115, 100, 0.819);
    border-color: rgb(176, 224, 252);
    border-style:solid;
    padding: 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


    



.calc-button{
    background-color:rgb(109, 190, 178);
    color:rgba(14, 115, 100, 0.819);
    border-color: rgb(176, 224, 252);
    border-style:solid;
    padding: 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

   .buttons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }
    .calc-button-side{
    margin:none;
    background-color:rgb(90, 162, 151);
    color:rgba(14, 115, 100, 0.819);
    border-color:rgba(29, 224, 195, 0.61);
    border-style:solid;
    padding: 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    }

    .calc-button:hover{
        opacity:0.60;
    }
    .calc-button-double:hover{
        opacity:0.60;
    }
    .calc-button-side:hover{
        opacity:0.60;
    }